
body {
	background-color: pink;
}

header {
  background-color: #dc3545;
  padding: 30px;
  text-align: center;
  color: white;
  }

article {
	background-color: pink; 
  padding: 20px;
  height: 400px;
  text-align: center;
}
h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  font-family: Lucida Calligraphy;
}

h2 {
	color: black;
}

p {
  color: black;
  font-size: 13px; 
}

footer {
  background-color: #dc3545;
  padding: 10px;
  text-align: center;
  color: black;
}

.image {
	margin-left: 400px;
}
.myDiv{
	background-color: pink;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}
